@function rem($px) {
  @return $px/100 + rem
}
@mixin lheight ($px) {
  height: rem($px);
  line-height: rem($px);
}
@mixin same ($px) {
  height: rem($px);
  width: rem($px);
}
@mixin ellipsis (){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}